#cd-cart {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
  
    /* header height */
    padding-top: 50px;
  
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  
    transition: right 0.3s;}
  
  #cd-cart.speed-in {
    right: 0;
  }

  /* En src/app/cart/cart.css */

.primary-nav {
    position: fixed; 
    top: 0;
    right: 0;
    z-index: 1050;
    width: 400px; 
    height: 100vh; 
    background-color: #ffffff; 
    transform: translateX(100%); 
    transition: transform 0.3s ease-in-out; 
    border-radius: 2% 0% 
    ;
    box-shadow: 3px 0px 10px 3px rgba(0, 0, 0, 0.7);

}
.primary-nav.activo {
    transform: translateX(0); 
}
.p-3{
    background-color: #ffffff;
    padding: 1rem !important; 
    box-sizing: border-box;
    display: block;
    unicode-bidi: isolate;
}
.imagen-carrito {
    width: 30%;
    object-fit: contain;
}
.p-3 ul{
    list-style-type:none ;
    
}
.px-3{
    background-color: #1c5052
}
.btn-green{
    background-color: #1c5052;
    color:#fff;
    transition: all 300ms;
    border: none;
}
.green-color{
    color:#1c5052;
}