.btn-green{
    background-color: #1c5052;
    color:#fff;
    transition: all 300ms;
    border: none;
}

.green-color{
    color:#1c5052;
}

/*Card image styles*/
.card-img{
    box-shadow: 0px 5px 10px rgb(0 0 0 / 30%);
    width: 50% !important;
    margin-top: -20px;
    height: 220px;
    object-fit: cover;
}

.badge{
    margin-top: -10px;
}

.card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}